/* ===== ESTE BLOCO FAZ UM RESET, OU SEJA GARANTE QUE ALGUNS ATRIBUTOS
ESTEJAM ZERADOS E LIVRES DE ATRIBUTOS PADRÃ•ES DO NAVEGADOR =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {

    padding: 0;
    margin: 0;
    vertical-align: none;
    list-style: none;
    border: 0;
    color:darkblue;
    text-decoration: none;

  } 

  body{
    background-color: rgb(238, 231, 205);
  }

.main{
position: relative; 
width: 1000px;
height: 1000px;
background-color: rgb(205, 209, 214);
font-family: 'Nunito', sans-serif;
font-size: 25px;
}  
.perfil{
 margin-top: 10vh;
 position: relative;
 left: 20px;
 top: 20px;
 width: 200px;
 height:200px;
text-align: center;

}

.topR1{

position: relative;
left: 400px;
bottom: 178px;
width: 300px;
height: 200px;
font-size: 20px;

}

.formação{
position: relative;
left: 20px;
bottom: 80px;
width: 350px;
height: 250px;

}

.objetivo{
margin-bottom: 10vh;
position: relative;
left: 400px;
bottom: 330px;
width: 300px;
height: 250px;
text-align: center;

}

.habilidades{
display: inline-block;
position: relative;
left: 20px;
bottom: 400px;
width: 700px;
height: 200px;
text-align: center;

}

.imagem{
 width: 200px;
height: 200px;
border-radius: 100px;

}

@media screen and (max-width:600px) {


.imagem{
  width: 250px;
  height: 250px;
}

.objetivo{
left: 20px;
bottom: 200px;
width: 350px;
height: 250px;
text-align: left

}

.habilidades{
  left: 20px;
bottom: 280px;
width: 700px;
height: 200px;


}

.perfil{
  width: 250px;
  height:250px;

}

.formação{
  left: 20px;
  bottom: 150px;
  width: 350px;
  height: 250px;

}

}
 



