/* ===== ESTE BLOCO FAZ UM RESET, OU SEJA GARANTE QUE ALGUNS ATRIBUTOS
ESTEJAM ZERADOS E LIVRES DE ATRIBUTOS PADRÃ•ES DO NAVEGADOR =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {

    padding: 0;
    margin: 0;
    vertical-align: none;
    list-style: none;
    border: 0;
    color:darkblue;
    text-decoration: none;
  } 
.main{
position: relative; 
width: 1000px;
height: 1000px;
background-color: rgb(72, 88, 110);
}  
.perfil{
 margin-top: 10vh;
 position: relative;
 left: 20px;
 top: 20px;

 width: 200px;
 height:200px;
 background-color:rgb(100, 60, 104);

}

.topR1{

position: relative;
left: 400px;
bottom: 178px;
width: 300px;
height: 200px;
background-color: rgb(96, 142, 96);

}

.formação{
position: relative;
left: 20px;
bottom: 100px;
width: 350px;
height: 250px;
background-color: rgb(40, 68, 40);

}

.objetivo{
margin-bottom: 10vh;
position: relative;
left: 400px;
bottom: 350px;
width: 300px;
height: 250px;
background-color: rgb(120, 168, 235);

}

.habilidades{
display: inline-block;
position: relative;
left: 50px;
bottom: 400px;
width: 700px;
height: 200px;
background-color: rgb(108, 32, 148);

}

.imagem{
 width: 200px;
height: 200px;
border-radius: 100px;



}